@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/point.css";
@import "components/badge.css";
@import "components/screen-header.css";
@import "components/user-components.css";

/* Screens */
@import "screens/index.css";
@import "screens/friedns.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";

html,
body {
  height: 100%;
  /* To Escape Collapsing margin */
  padding: 1px 0px;
}

.workspace {
  width: 100%;
  margin-top: var(--status-plus-header-width);
  padding: 0px var(--basic-left-right-padding);
  box-sizing: border-box;
}
