.alt-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--basic-left-right-padding);
  margin-top: var(--status-bar-height);
  width: 100%;
  box-sizing: border-box;
}

.alt-header__column {
  width: 33%;
}

.alt-header__title {
  font-size: 32px;
  font-weight: 600;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
