.screen-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px var(--basic-left-right-padding);
  background-color: white;
  box-sizing: border-box;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons > * {
  margin-left: 25px;
}

/* @keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
} */
